@section title {
    <title>Create task</title>
}
@section scripts {
    <script src="~/js/task/create.js" async></script>
}
@section styles {
    <link rel="stylesheet" href="~/css/task/create.css" />
}