@section title {
    <title>Task history</title>
}
@section scripts {
    <script src="~/js/task/history.js" async></script>
}
@section styles {
    <link rel="stylesheet" href="~/css/task/history.css" />
}