@section title {
    <title>Home</title>
}
@section scripts {
    <script src="~/js/home/index.js" defer></script>
}
@section styles {
    <link rel="stylesheet" href="~/css/home/index.css" />
}


@section body {
<div class="welcome">
<p>
	Hello.
	This site can be used by companies and employees for: record working hours; issuing tasks; checking
	progress, execution.<br>
	Content is limited at the moment as not all features have been completed and tested.<br>
	Over time, more and more options, functions and, in part, a back-end will be added.<br>
	Thank you for your attention and please check how everything is arranged.
	<hr>
</p>
</div>
}