#passMatch,
#passEmpty,
#select,
#emailCheck {
	display: none;
	position: relative;
}

#login {
	padding: 2px;
	display: block;
	border: solid;
	float: right;
	width: 200px;
}

#register {
	padding: 2px;
	display: block;
	border: solid;
	float: right;
	width: 200px;
}

input:invalid {
	border: 1px red solid;
}

input:valid {
	border: 1px green solid;
}

option[value=""][disabled] {
	display: none;
}

input {
	width: 180px;
}

select {
	width: 186px;
}

#logRemember {
	width: auto;
}