#match {
	display: none;
	position: absolute;
}

#login {
	display: block;
	border: solid;
}

#register {
	display: block;
	border: solid;
}

input:invalid {
	border: 1px dashed red;
}

input:invalid:required {
	background-image: wheat;
}

input:valid {
	border: 1px solid black;
}