@section title {
    <title>Time history</title>
}
@section scripts {
    <script src="~/js/time/history.js" defer></script>
}
@section styles {
    <link rel="stylesheet" href="~/css/time/history.css" />
}