@section title {
    <title>Time tracker</title>
}
@section scripts {
    <script src="~/js/time/index.js" defer></script>
}
@section styles {
    <link rel="stylesheet" href="~/css/time/index.css" />
}