@section title {
    <title>Time today</title>
}
@section scripts {
    <script src="~/js/time/today.js" async></script>
}
@section styles {
    <link rel="stylesheet" href="~/css/time/today.css" />
}